@using static ComputerEquipmentMS.Views.CommonFuncs.Formatter
@using static ComputerEquipmentMS.Views.CommonFuncs.Converter
@model ComputerEquipmentMS.ViewModels.SalesViewModel

@{
    var sales = Model;
}

<h1 class="display-4">Продажи</h1>

<div name="sales">
    <div style="text-align: right;">
        <form method="get" asp-controller="Sales" asp-action="Create">
            <button type="submit" class="btn btn-outline-dark">Добавить</button>
        </form>
    </div>
    <table class="table table-hover">
        <thread>
            <tr>
                <th>Дата продажи</th>
                <th>Время продажи</th>
                <th>Начальная цена</th>
                <th>Скидка, %</th>
                <th>Конечная цена</th>
                <th/>
            </tr>
        </thread>
        @foreach (var sale in sales)
        {
            <tr>
                <td>@LocalDateFromInstant(sale.SaleMoment)</td>
                <td>@FormatInstantToTime(sale.SaleMoment)</td>
                <td>@sale.StartingCost</td>
                <td>@sale.DiscountPercentage</td>
                <td>@sale.FinalCost</td>
                <td>
                    <form asp-controller="Sales" asp-action="Details" asp-route-id="@sale.Id" method="get">
                        <button type="submit" class="btn btn-outline-secondary btn-sm">Подробнее</button>
                    </form>
                </td>
            </tr>
        }
    </table>
</div>
