@model ComputerEquipmentMS.ViewModels.CustomerDetailsViewModel

@{
    var customer = Model;
}

<h1 class="display-4">Редактировать данные о покупателе</h1>
<h3 class="display-5">@customer.Name</h3>

<div name="contacts">
    <h6 class="display-6">Контакты</h6>
    <form asp-controller="Customers" asp-action="Edit" method="post" onsubmit="return validateContacts()">
        <input type="text" asp-for="Name" value="@customer.Name" hidden>
        <input type="text" asp-for="RegistrationDate" value="@customer.RegistrationDate" hidden>
        <div name="phone" style="width: 100%; margin-right: 10px" class="form-floating mb-3">
            <input type="tel" id="phoneInput" asp-for="Phone" class="form-control" placeholder="+7-800-555-3535" value="@customer.Phone" pattern="^\+\d{1,3}-\d{3}-\d{3}-\d{4}$">
            <label for="phoneInput">Телефон</label>
        </div>
        <div name="email" style="width: 100%" class="form-floating mb-3">
            <input type="email" id="emailInput" asp-for="Email" class="form-control" placeholder="example@gmail.com" value="@customer.Email">
            <label for="emailInput">Email</label>
        </div>
        <div style="display: flex; width: 100%">
            <button type="submit" class="btn btn-light" style="flex-grow: 1; flex-basis: 0">Сохранить</button>
            <button type="button" onclick="history.back()" class="btn btn-light" style="flex-grow: 1; margin-left: 1%; flex-basis: 0">Отменить</button>
        </div>
    </form>
</div>
